<script type='text/x-handlebars' data-template-name='/connectors/topic-list-after-category/viewsandlikes'>
<span class='topic-views'>{{d-icon "eye"}} {{number this.topic.views numberKey="views_long"}}</span>
<span class='topic-likes'>{{d-icon "heart"}} <a href='{{this.topic.summaryUrl}}'>{{number this.topic.like_count}}</a></span>